.slider-back-color{
    background-color:  #FEEAE9;
}
.button-pink{
    background-color: #ff579a;
}
.pink-color{
    color:#ff579a
}
.blog-shoes-section{
    background-color: #F4F4F4;
}
.blog-bags-section{
    background-color: #F4F4F4;
}
.adress-background{
    background-color: #FFF2F1;
   
}
